packages/FluentAssertions.1.7.0/FluentAssertions.1.7.0.nupkg
packages/FluentAssertions.1.7.0/Lib/net35/FluentAssertions.dll
packages/FluentAssertions.1.7.0/Lib/net35/FluentAssertions.pdb
packages/FluentAssertions.1.7.0/Lib/net35/FluentAssertions.xml
packages/FluentAssertions.1.7.0/Lib/net40/FluentAssertions.dll
packages/FluentAssertions.1.7.0/Lib/net40/FluentAssertions.pdb
packages/FluentAssertions.1.7.0/Lib/net40/FluentAssertions.xml
packages/FluentAssertions.1.7.0/Lib/sl40/de/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/de/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/es/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/es/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/FluentAssertions.Silverlight.dll
packages/FluentAssertions.1.7.0/Lib/sl40/FluentAssertions.Silverlight.pdb
packages/FluentAssertions.1.7.0/Lib/sl40/FluentAssertions.Silverlight.xml
packages/FluentAssertions.1.7.0/Lib/sl40/fr/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/fr/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/it/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/it/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/ja/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/ja/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/ko/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/ko/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.dll
packages/FluentAssertions.1.7.0/Lib/sl40/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.pdb
packages/FluentAssertions.1.7.0/Lib/sl40/Microsoft.VisualStudio.QualityTools.UnitTesting.Silverlight.xml
packages/FluentAssertions.1.7.0/Lib/sl40/ru/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/ru/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/System.Xml.Linq.dll
packages/FluentAssertions.1.7.0/Lib/sl40/System.Xml.Linq.xml
packages/FluentAssertions.1.7.0/Lib/sl40/System.Xml.Serialization.dll
packages/FluentAssertions.1.7.0/Lib/sl40/System.Xml.Serialization.xml
packages/FluentAssertions.1.7.0/Lib/sl40/zh-Hans/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/zh-Hans/System.Xml.Serialization.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/zh-Hant/System.Xml.Linq.resources.dll
packages/FluentAssertions.1.7.0/Lib/sl40/zh-Hant/System.Xml.Serialization.resources.dll
packages/MvvmLightLibs.3.1.1/lib/net35/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.3.1.1/lib/net35/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.3.1.1/lib/net35/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.3.1.1/lib/net35/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.3.1.1/lib/net35/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.3.1.1/lib/net35/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.3.1.1/lib/net35/System.Windows.Interactivity.dll
packages/MvvmLightLibs.3.1.1/lib/net35/System.Windows.Interactivity.xml
packages/MvvmLightLibs.3.1.1/lib/net40/GalaSoft.MvvmLight.Extras.WPF4.dll
packages/MvvmLightLibs.3.1.1/lib/net40/GalaSoft.MvvmLight.Extras.WPF4.pdb
packages/MvvmLightLibs.3.1.1/lib/net40/GalaSoft.MvvmLight.Extras.WPF4.XML
packages/MvvmLightLibs.3.1.1/lib/net40/GalaSoft.MvvmLight.WPF4.dll
packages/MvvmLightLibs.3.1.1/lib/net40/GalaSoft.MvvmLight.WPF4.pdb
packages/MvvmLightLibs.3.1.1/lib/net40/GalaSoft.MvvmLight.WPF4.XML
packages/MvvmLightLibs.3.1.1/lib/net40/System.Windows.Interactivity.dll
packages/MvvmLightLibs.3.1.1/lib/net40/System.Windows.Interactivity.xml
packages/MvvmLightLibs.3.1.1/lib/SL3/GalaSoft.MvvmLight.dll
packages/MvvmLightLibs.3.1.1/lib/SL3/GalaSoft.MvvmLight.Extras.dll
packages/MvvmLightLibs.3.1.1/lib/SL3/GalaSoft.MvvmLight.Extras.pdb
packages/MvvmLightLibs.3.1.1/lib/SL3/GalaSoft.MvvmLight.Extras.XML
packages/MvvmLightLibs.3.1.1/lib/SL3/GalaSoft.MvvmLight.pdb
packages/MvvmLightLibs.3.1.1/lib/SL3/GalaSoft.MvvmLight.XML
packages/MvvmLightLibs.3.1.1/lib/SL3/System.Windows.Interactivity.dll
packages/MvvmLightLibs.3.1.1/lib/SL3/System.Windows.Interactivity.xml
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/GalaSoft.MvvmLight.Extras.WP7.dll
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/GalaSoft.MvvmLight.Extras.WP7.pdb
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/GalaSoft.MvvmLight.Extras.WP7.XML
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/GalaSoft.MvvmLight.WP7.dll
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/GalaSoft.MvvmLight.WP7.pdb
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/GalaSoft.MvvmLight.WP7.XML
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/System.Windows.Interactivity.dll
packages/MvvmLightLibs.3.1.1/lib/sl3-wp/System.Windows.Interactivity.xml
packages/MvvmLightLibs.3.1.1/lib/SL4/GalaSoft.MvvmLight.Extras.SL4.dll
packages/MvvmLightLibs.3.1.1/lib/SL4/GalaSoft.MvvmLight.Extras.SL4.pdb
packages/MvvmLightLibs.3.1.1/lib/SL4/GalaSoft.MvvmLight.Extras.SL4.XML
packages/MvvmLightLibs.3.1.1/lib/SL4/GalaSoft.MvvmLight.SL4.dll
packages/MvvmLightLibs.3.1.1/lib/SL4/GalaSoft.MvvmLight.SL4.pdb
packages/MvvmLightLibs.3.1.1/lib/SL4/GalaSoft.MvvmLight.SL4.XML
packages/MvvmLightLibs.3.1.1/lib/SL4/System.Windows.Interactivity.dll
packages/MvvmLightLibs.3.1.1/lib/SL4/System.Windows.Interactivity.xml
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/GalaSoft.MvvmLight.Extras.WP71.dll
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/GalaSoft.MvvmLight.Extras.WP71.pdb
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/GalaSoft.MvvmLight.Extras.WP71.xml
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/GalaSoft.MvvmLight.WP71.dll
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/GalaSoft.MvvmLight.WP71.pdb
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/GalaSoft.MvvmLight.WP71.xml
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/System.Windows.Interactivity.dll
packages/MvvmLightLibs.3.1.1/lib/sl4-windowsphone71/System.Windows.Interactivity.xml
packages/MvvmLightLibs.3.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.SL5.dll
packages/MvvmLightLibs.3.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.SL5.pdb
packages/MvvmLightLibs.3.1.1/lib/SL5/GalaSoft.MvvmLight.Extras.SL5.xml
packages/MvvmLightLibs.3.1.1/lib/SL5/GalaSoft.MvvmLight.SL5.dll
packages/MvvmLightLibs.3.1.1/lib/SL5/GalaSoft.MvvmLight.SL5.pdb
packages/MvvmLightLibs.3.1.1/lib/SL5/GalaSoft.MvvmLight.SL5.xml
packages/MvvmLightLibs.3.1.1/lib/SL5/System.Windows.Interactivity.dll
packages/MvvmLightLibs.3.1.1/lib/SL5/System.Windows.Interactivity.xml
packages/MvvmLightLibs.3.1.1/MvvmLightLibs.3.1.1.nupkg
packages/RhinoMocks.3.6/lib/Rhino.Mocks.dll
packages/RhinoMocks.3.6/RhinoMocks.3.6.nupkg
packages/structuremap.2.6.3/lib/StructureMap.dll
packages/structuremap.2.6.3/lib/StructureMap.pdb
packages/structuremap.2.6.3/lib/StructureMap.XML
packages/structuremap.2.6.3/structuremap.2.6.3.nupkg
TypeVisualiser.sln.DotSettings.user
TypeVisualiser.v12.suo
TypeVisualiser/bin/Debug/demo 1.0.15.tvd
TypeVisualiser/bin/Debug/demo 1.0.16.tvd
TypeVisualiser/bin/Debug/demo1.tvd
TypeVisualiser/bin/Debug/GalaSoft.MvvmLight.WPF4.dll
TypeVisualiser/bin/Debug/GalaSoft.MvvmLight.WPF4.pdb
TypeVisualiser/bin/Debug/GalaSoft.MvvmLight.WPF4.xml
TypeVisualiser/bin/Debug/SqlCommand.tvd
TypeVisualiser/bin/Debug/StructureMap.dll
TypeVisualiser/bin/Debug/StructureMap.pdb
TypeVisualiser/bin/Debug/StructureMap.xml
TypeVisualiser/bin/Debug/StructureMap_BuildSession.tvd
TypeVisualiser/bin/Debug/TrivialExcludeList.xml
TypeVisualiser/bin/Debug/TypeVisualiser.DemoTypes.dll
TypeVisualiser/bin/Debug/TypeVisualiser.DemoTypes.pdb
TypeVisualiser/bin/Debug/TypeVisualiser.exe
TypeVisualiser/bin/Debug/TypeVisualiser.exe.CodeAnalysisLog.xml
TypeVisualiser/bin/Debug/TypeVisualiser.exe.config
TypeVisualiser/bin/Debug/TypeVisualiser.exe.lastcodeanalysissucceeded
TypeVisualiser/bin/Debug/TypeVisualiser.pdb
TypeVisualiser/bin/Debug/TypeVisualiser.vshost.exe
TypeVisualiser/bin/Debug/TypeVisualiser.vshost.exe.config
TypeVisualiser/bin/Debug/TypeVisualiser.vshost.exe.manifest
TypeVisualiser/bin/Debug/TypeVisualiserRecentFiles.xml
TypeVisualiser/bin/Debug64/GalaSoft.MvvmLight.WPF4.dll
TypeVisualiser/bin/Debug64/GalaSoft.MvvmLight.WPF4.pdb
TypeVisualiser/bin/Debug64/GalaSoft.MvvmLight.WPF4.xml
TypeVisualiser/bin/Debug64/StructureMap.dll
TypeVisualiser/bin/Debug64/StructureMap.pdb
TypeVisualiser/bin/Debug64/StructureMap.xml
TypeVisualiser/bin/Debug64/TrivialExcludeList.xml
TypeVisualiser/bin/Debug64/TypeVisualiser.DemoTypes.dll
TypeVisualiser/bin/Debug64/TypeVisualiser.DemoTypes.pdb
TypeVisualiser/bin/Debug64/TypeVisualiser.exe
TypeVisualiser/bin/Debug64/TypeVisualiser.exe.config
TypeVisualiser/bin/Debug64/TypeVisualiser.pdb
TypeVisualiser/bin/Debug64/TypeVisualiser.vshost.exe.config
TypeVisualiser/bin/Debug64/TypeVisualiser.vshost.exe.manifest
TypeVisualiser/bin/Debug64/TypeVisualiserRecentFiles.xml
TypeVisualiser/bin/Debug64/Version1_1.tvd
TypeVisualiser/bin/Debug64/Version1_2.tvd
TypeVisualiser/bin/Debug64/Version1_3.tvd
TypeVisualiser/bin/Debug64/Version1_5.tvd
TypeVisualiser/bin/Release/GalaSoft.MvvmLight.WPF4.dll
TypeVisualiser/bin/Release/StructureMap.dll
TypeVisualiser/bin/Release/TrivialExcludeList.xml
TypeVisualiser/bin/Release/TypeVisualiser.DemoTypes.dll
TypeVisualiser/bin/Release/TypeVisualiser.exe
TypeVisualiser/bin/Release/TypeVisualiser.exe.config
TypeVisualiser/bin/Release/TypeVisualiser32_1.0.12.zip
TypeVisualiser/bin/Release/TypeVisualiser32_1.0.16.zip
TypeVisualiser/bin/Release/TypeVisualiser32_1.0.18.zip
TypeVisualiser/bin/Release/TypeVisualiser32_1.0.20.zip
TypeVisualiser/bin/Release/TypeVisualiser32_1.0.9.zip
TypeVisualiser/bin/x64/Release/GalaSoft.MvvmLight.WPF4.dll
TypeVisualiser/bin/x64/Release/GalaSoft.MvvmLight.WPF4.xml
TypeVisualiser/bin/x64/Release/StructureMap.dll
TypeVisualiser/bin/x64/Release/StructureMap.xml
TypeVisualiser/bin/x64/Release/TrivialExcludeList.xml
TypeVisualiser/bin/x64/Release/TypeVisualiser.DemoTypes.dll
TypeVisualiser/bin/x64/Release/TypeVisualiser.exe
TypeVisualiser/bin/x64/Release/TypeVisualiser.exe.config
TypeVisualiser/bin/x64/Release/TypeVisualiser64_1.0.12.zip
TypeVisualiser/bin/x64/Release/TypeVisualiser64_1.0.16.zip
TypeVisualiser/bin/x64/Release/TypeVisualiser64_1.0.18.zip
TypeVisualiser/bin/x64/Release/TypeVisualiser64_1.0.20.zip
TypeVisualiser/obj/x64/Debug/App.baml
TypeVisualiser/obj/x64/Debug/App.g.cs
TypeVisualiser/obj/x64/Debug/App.g.i.cs
TypeVisualiser/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TypeVisualiser/obj/x64/Debug/GeneratedInternalTypeHelper.g.cs
TypeVisualiser/obj/x64/Debug/GeneratedInternalTypeHelper.g.i.cs
TypeVisualiser/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TypeVisualiser/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TypeVisualiser/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TypeVisualiser/obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
TypeVisualiser/obj/x64/Debug/TypeVisualiser.csproj.FileListAbsolute.txt
TypeVisualiser/obj/x64/Debug/TypeVisualiser.csproj.GenerateResource.Cache
TypeVisualiser/obj/x64/Debug/TypeVisualiser.csprojResolveAssemblyReference.cache
TypeVisualiser/obj/x64/Debug/TypeVisualiser.exe
TypeVisualiser/obj/x64/Debug/TypeVisualiser.g.resources
TypeVisualiser/obj/x64/Debug/TypeVisualiser.pdb
TypeVisualiser/obj/x64/Debug/TypeVisualiser.Properties.Resources.resources
TypeVisualiser/obj/x64/Debug/TypeVisualiser_Content.g.cs
TypeVisualiser/obj/x64/Debug/TypeVisualiser_Content.g.i.cs
TypeVisualiser/obj/x64/Debug/TypeVisualiser_MarkupCompile.cache
TypeVisualiser/obj/x64/Debug/TypeVisualiser_MarkupCompile.i.cache
TypeVisualiser/obj/x64/Debug/TypeVisualiser_MarkupCompile.i.lref
TypeVisualiser/obj/x64/Debug/TypeVisualiser_MarkupCompile.lref
TypeVisualiser/obj/x64/Debug/UI/Assets/AbstractSymbol.baml
TypeVisualiser/obj/x64/Debug/UI/Assets/AbstractSymbol.g.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/AbstractSymbol.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/ArrowTail.baml
TypeVisualiser/obj/x64/Debug/UI/Assets/ArrowTail.g.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/ArrowTail.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/AssociationHead.baml
TypeVisualiser/obj/x64/Debug/UI/Assets/AssociationHead.g.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/AssociationHead.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/InheritanceHead.baml
TypeVisualiser/obj/x64/Debug/UI/Assets/InheritanceHead.g.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/InheritanceHead.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/SealedSymbol.baml
TypeVisualiser/obj/x64/Debug/UI/Assets/SealedSymbol.g.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/SealedSymbol.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/StaticSymbol.baml
TypeVisualiser/obj/x64/Debug/UI/Assets/StaticSymbol.g.cs
TypeVisualiser/obj/x64/Debug/UI/Assets/StaticSymbol.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Style/AssociationLines.baml
TypeVisualiser/obj/x64/Debug/UI/Style/ButtonStyle.baml
TypeVisualiser/obj/x64/Debug/UI/Style/Colors.baml
TypeVisualiser/obj/x64/Debug/UI/Style/Icons.baml
TypeVisualiser/obj/x64/Debug/UI/Style/ScrollbarStyle.baml
TypeVisualiser/obj/x64/Debug/UI/Style/ScrollViewerStyle.baml
TypeVisualiser/obj/x64/Debug/UI/Style/ShellStyle.baml
TypeVisualiser/obj/x64/Debug/UI/Style/SliderStyle.baml
TypeVisualiser/obj/x64/Debug/UI/Style/TextStyles.baml
TypeVisualiser/obj/x64/Debug/UI/Style/ViewportStyle.baml
TypeVisualiser/obj/x64/Debug/UI/Style/ZoomAndPanStyle.baml
TypeVisualiser/obj/x64/Debug/UI/Views/Annotation.baml
TypeVisualiser/obj/x64/Debug/UI/Views/Annotation.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/Annotation.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/AnnotationInputBox.baml
TypeVisualiser/obj/x64/Debug/UI/Views/AnnotationInputBox.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/AnnotationInputBox.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/ChooseType.baml
TypeVisualiser/obj/x64/Debug/UI/Views/ChooseType.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/ChooseType.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/GlassDialog.baml
TypeVisualiser/obj/x64/Debug/UI/Views/GlassDialog.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/GlassDialog.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/MainMenu.baml
TypeVisualiser/obj/x64/Debug/UI/Views/MainMenu.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/MainMenu.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/Shell.baml
TypeVisualiser/obj/x64/Debug/UI/Views/Shell.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/Shell.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/ShellTabControl.baml
TypeVisualiser/obj/x64/Debug/UI/Views/ShellTabControl.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/ShellTabControl.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/UsageDialog.baml
TypeVisualiser/obj/x64/Debug/UI/Views/UsageDialog.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/UsageDialog.g.i.cs
TypeVisualiser/obj/x64/Debug/UI/Views/VisualisedTypeControl.baml
TypeVisualiser/obj/x64/Debug/UI/Views/VisualisedTypeControl.g.cs
TypeVisualiser/obj/x64/Debug/UI/Views/VisualisedTypeControl.g.i.cs
TypeVisualiser/obj/x86/Debug/App.g.i.cs
TypeVisualiser/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TypeVisualiser/obj/x86/Debug/GeneratedInternalTypeHelper.g.i.cs
TypeVisualiser/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TypeVisualiser/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TypeVisualiser/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TypeVisualiser/obj/x86/Debug/TypeVisualiser.csproj.FileListAbsolute.txt
TypeVisualiser/obj/x86/Debug/TypeVisualiser_Content.g.i.cs
TypeVisualiser/obj/x86/Debug/TypeVisualiser_MarkupCompile.i.cache
TypeVisualiser/obj/x86/Debug/UI/Assets/AbstractSymbol.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Assets/ArrowTail.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Assets/AssociationHead.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Assets/InheritanceHead.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Assets/SealedSymbol.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Assets/StaticSymbol.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/Annotation.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/AnnotationInputBox.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/ChooseType.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/GlassDialog.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/MainMenu.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/Shell.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/ShellTabControl.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/UsageDialog.g.i.cs
TypeVisualiser/obj/x86/Debug/UI/Views/VisualisedTypeControl.g.i.cs
Rees.Biz.snk
obj/
obj/
*/bin/Debug/*.*
*/bin/Debug/*.*
*/bin/Release/*.*
*/bin/Release64/*.*
*/bin/x64/Debug/*.*
